/* Root variables */
:root {
    --header-input-activemsg: #F0F2F5;
    --header-separator: #D2D7DB;
    --icons: #57646E;
    --notifiche: #70BBE6;
    --notifiche-text: #131B20;
    --message-separator: #EAEDEF;
    --hover-message: #F5F6F6;
    --icons-received_data: #89969F;
    --send-background: #E0FCD6;
    --send_data: #728072;
    --gradient-top: #377E6A;
    --gradient-bottom: #FFFFFF;
    --text-preview: #697680;
    --padding-left: .7rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

.clearfix {
    
    clear: both;
}

/* Body */

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', Helvetica, sans-serif;
    background: linear-gradient(to top,
    var(--gradient-bottom) 85%, var(--gradient-top) 85% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 650px;
}

#app-container {
    width: 80vw;
    min-width: 650px;
    height: 95vh;
    display: flex;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .3);
}

/* Contacts */

#contacts-container {
    width: 35%;
    height: 100%;
}

#contacts-container header {
    color: var(--icons);
    height: 50px;
    background-color: var(--header-input-activemsg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-left);
    padding-right: .5rem;
    border-right: 1px solid var(--header-separator);
}

/* Contacts header */

#user {
    font-size: .7rem;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 37px;
    height: 37px;
    border-radius: 20px;
    background-image: url(../img/avatar_io.jpg);
    background-size: cover;
    cursor: pointer;
}

#icons span {
    margin: .2rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    display: inline-block;
}

#icons span:hover {
    color: var(--icons-received_data);
    transition: .3s;
}

/* Contacts notifications */

#notifications {
    color: var(--notifiche-text);
    font-size: .9rem;
    height: 60px;
    background-color: var(--notifiche);
    display: flex;
    align-items: center;
    padding-left: var(--padding-left);
    cursor: pointer;
}

#bell {
    color: var(--notifiche);
    font-size: 1.1rem;
    text-align: center;
    line-height: 40px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#bell-text {
    padding-left: var(--padding-left);
}

#bell-text a {
    color: inherit;
    font-size: .7rem;
    text-decoration: none;
}

#bell-text a:hover {
    text-decoration: underline;
}

#bell-text i {
    font-size: .5rem;
}

/* Search bar */

#contacts-container nav {
    height: 40px;
    background-color: var(--gradient-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--message-separator);

}

#input-container {
    background-color: var(--header-input-activemsg);
    width: 93%;
    height: 73%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

#input-container span {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 100%;
    font-size: .8rem;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    color: var(--icons);
}

#input-container span:hover {
    color: var(--icons-received_data);
    transition: .3s;
}

#input-container input {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: transparent;
}

/* Contacts */

#contacts {
    height: calc(100% - 150px);

    overflow-y: auto;
}

.contact {
    height: 60px;
    background-color: var(--gradient-bottom);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--message-separator);
    font-size: .9rem;
    line-height: 1.3rem;
}

.contact-content {
    width: 100%;
    height: 100%;
    padding-right: .7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.contact img {
    width: 43px;
    height: 43px;
    border-radius: 25px;
    background-color: white;
    margin-left: var(--padding-left);
    margin-right: .6rem;
}

.contact:hover {
    background-color: var(--hover-message);
}

.name-time {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-size: .7rem;
    color: var(--text-preview);
}

.text-preview {
    height: 50%;
    width: 100%;
    color: var(--text-preview);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-preview i {
    margin-right: .3rem;
    display: none;
}

.contact:hover i {
    display: inline-block;
}

/* Messages */

#messages-container {
    width: 65%;
    height: 100%;
}

#messages-container header {
    height: 50px;
    background-color: var(--header-input-activemsg);
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Chat */

main {
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

#chat-container {
    display: flex;
    align-items: center;
}

.chat-avatar {
    width: 37px;
    height: 37px;
    border-radius: 20px;
    margin-left: var(--padding-left);
    margin-right: var(--padding-left);
}

.chat-name {
    font-size: .8rem;
    font-weight: 600;
}

.chat-time {
    font-size: .6rem;
    color: var(--text-preview);
}

.chat-icons {
    float: right;
    margin-right: var(--padding-left);
    color: var(--icons);
}

.chat-icons span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}

/* Chat with friends */

.messages-container {
    width: 82%;
    margin: auto;
    margin-top: 1rem;
}

.messages-container>div {
    display: flex;
    align-items: center;
}

.received,
.sent {
    display: inline-block;
    padding: .5rem;
    margin-bottom: .7rem;
    font-size: .85rem;
    box-shadow: 0px 1px 1.7px 1px rgba(0, 0, 0, .2);
    max-width: 75%;
}

.received {
    background-color: white;
    border-radius: 0 10px 10px 10px;
}

.sent {
    background-color: var(--send-background);
    border-radius: 10px 00px 10px 10px;
    /* margin-left: auto; */
}

.div-sent::before,
.div-received::after {
    content: '\263A';
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, .2);
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    border-radius: 50%;
    justify-self: flex-end;
    margin: .4rem;
    align-self: center;
    position: relative;
    bottom: 4px;
    display: none;
    cursor: pointer;
}

.div-sent {
    justify-content: flex-end;
}

.div-sent:hover::before,
.div-received:hover::after {
    display: inline-block;
}

/* Type a message */

#type-text {
    display: flex;
    align-items: center;
}

.type-icons {
    margin-left: var(--padding-left);
    margin-right: var(--padding-left);
    display: flex;
}

.type-icons span,
#type-text span  {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--icons);
}

#type-text {
    height: 50px;
    background-color: var(--header-input-activemsg);
}

.new-message-input {
    display: flex;
    flex-grow: 1;
}

#type-text input {
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    border: none;
}

#type-text>span  {
    margin-left: var(--padding-left);
    margin-right: var(--padding-left);
}