<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Title -->
    <title>BoolzApp</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <div id="app-container">
            <!-- Contacts container -->
            <div id="contacts-container">
                <!-- Contacts header -->
                <header>
                    <div id="user">
                        <div class="user-avatar"></div>
                        <span>Karolina</span>
                    </div>

                    <div id="icons">
                        <span><i class="fas fa-circle-notch"></i></span>
                        <span><i class="far fa-comment-alt"></i></span>
                        <span><i class="fas fa-ellipsis-v"></i></span>
                    </div>
                </header>
                <!-- /Contacts header -->

                <!-- Get notifications -->
                <div id="notifications">
                    <div id="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div id="bell-text">
                        <p>
                            Ricevi notifiche di nuovi messaggi
                        </p>
                        <a href="">
                            Attiva notifiche desktop <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <!-- /Get notifications -->

                <!-- Search -->
                <nav>
                    <div id="input-container">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <input type="text" name="search" id="search" placeholder=" Cerca o inizia una nuova chat">
                    </div>
                </nav>
                <!-- /Search -->

                <!-- Contacts -->
                <div id="contacts">
                    <!-- Contact -->
                    <div id="contact-active" v-for="(contact, index) in myContacts" class="contact" @click="activeContact(index)" :class=" index === currentContact ? 'active' : '' ">
                        <img :src=" 'img/avatar' + contact.avatar + '.jpg' " alt="">

                        <div class="contact-content">
                            <div class="name-time">
                                <span>{{ contact.name }}</span>
                                <span class="time">18:32</span>
                            </div>
                            <div class="text-preview">
                                <span>Ciao</span>
                                <span><i class="fas fa-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- /Contact -->
                </div>
                <!-- /Contacts -->
            </div>
            <!-- /Contacts container -->

            <!-- Messages -->
            <div id="messages-container">

                <!-- Message header -->
                <header>
                    <div id="chat-container">
                        <img class="chat-avatar" :src=" 'img/avatar' + myContacts[currentContact].avatar + '.jpg' " alt="">
                        <div class="chat-details">
                            <div class="chat-name">
                                {{ myContacts[currentContact].name }}
                            </div>
                            <div class="chat-time">
                                Ultimo accesso oggi alle 17:11
                            </div>
                        </div>
                    </div>
                    <div class="chat-icons">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                    </div>
                </header>
                <!-- /Message header -->

                <!-- Messages -->
                <main id="messages">
                    <div class="messages-container">
                        <div v-for="element in myContacts[currentContact].messages" :class="'div-' + element.status">
                            <span :class="element.status">
                                {{ element.message }}
                                <p>13:41</p>
                            </span>
                        </div>
                    </div>
                </main>
                <!-- /Messages -->

                <!-- Type a message -->
                <div id="type-text">
                    <div class="type-icons">
                        <span>
                            <i class="far fa-smile"></i>
                        </span>
                        <span>
                            <i class="fas fa-paperclip"></i>
                        </span>
                    </div>
                    <div class="new-message-input">
                        <input type="text" name="new-message" id="new-message" placeholder="    Scrivi un messaggio">
                    </div>
                    <span>
                        <i class="fas fa-microphone"></i>
                    </span>
                </div>
                <!-- Type a message -->

            </div>
            <!-- /Messages -->

        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>